*{
    margin:0;
    padding:0;
}
body{
    background-color: #F0F3EF;
}
.sliderContain{
    border: 0 solid black;
    width: 600px;
    height: 490px;
    margin-top: 10px;
    margin-left: 10px;
    float: left;
}
.slider {
    overflow: hidden;
    float: left;
    width:580px;
    height: 470px;
    position: relative;
}

.slider li {
    position: absolute;
    display: none;
}

.slider li:first-child {
    display: block;
}

.arrow {
    display: none;
}

.slider:hover .arrow {
    display: block;
}

.arrow-left,
.arrow-right {
    font-family: "SimSun", "宋体", sans-serif;
    width: 30px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    margin-top: -30px;
    cursor: pointer;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-weight: 700;
    font-size: 30px;
}

.arrow-left:hover,
.arrow-right:hover {
    background-color: rgba(0, 0, 0, .5);
}

.arrow-left {
    left: 0;
}

.arrow-right {
    right: 0;
}



.main{
    margin: 0 auto;
    border: 0 solid blue;
    width: 1200px;
}
.goTop{
    display: none;
    position: fixed;
    bottom: 30px;right: 20px;
    overflow: hidden;
    width: 35px;height:35px;
    text-align: center;
}
.goTop img{
    width: 35px;
}
.goTop img:hover{
    transform: rotate(360deg);
    transition: transform 0.3s;
}

#headtit{
    border: 0 solid red;
    height: 35px;
    width: 1200px;
    margin: 0 auto;
    color: gray;
}
#headtit ul{
    float: right;
    line-height: 35px;
}
#headli li{
    float: left;
    width: 100px;
    font-size: 13px;
    text-align: center;
}
#headmenu{
    height: 35px;
    line-height: 35px;
    float: left;
    margin-top: 25px;
    margin-left: 20px;
}
#headmenu a{
    text-decoration: none;
    color:black;
}
#headmenu a:hover{
    text-decoration: none;
    color:red;
}
#headmenu ul{
    float: left;
}
#headmenu li{
    float: left;
    list-style: none;
    width: 80px;
    text-align: center;
    font-size: 15px;
}
.searchinput{
    padding-left: 14px;
 }
#search .searchinput{
    width: 500px;
    height: 40px;
    border: 0 solid white;
}
#search{
    border: 0 solid blue;
    width: 570px;
    float: left;
    margin-left: 150px;
    margin-top: 10px;
}
#logo{
    float: left;
}
#logo img{
    margin-top: -35px;
    box-shadow:0 0 20px lightgray;
}
.sbt{
    background-color: red;
    width: 60px;
    height: 40px;
    border: 0;
    color: white;
}
#cart{
    color: red;
    text-align: center;
    width: 200px;
    height: 40px;
    background-color: white;
    float: left;
    line-height: 40px;
    margin-top: 10px;
    margin-left: 40px;
}
#mainmenu{
    border: 0 solid red;
    height: 490px;
    width: 1200px;
}
#leftmenu{
    border: 0 solid blue;
    width: 188px;
    height: 480px;
    float: left;
    padding-top: 20px;
    background-color: white;
}
#leftmenu li{
    list-style: none;
    height: 30px;
    line-height: 30px;
    background-color: white;
    font-size: 14px;
    color: gray;
    font-family: "微软雅黑", sans-serif;
    padding-left: 18px;
    letter-spacing: 1px;
}
#leftmenu li:hover{
    background-color: lightgray;
    transition:background-color 0.3s linear;
}
.centermenu li{
    list-style: none;
    float: left;
}
.centermenu {
    display: none;
    background-color: white;
    width:1000px;
    height: 480px;
    margin-left: 173px;
    box-shadow: 0 0 10px grey;
    position: absolute;
    z-index: 111;
}
.menutable1{
    width: 100px;
    text-align: right;
    padding-right: 20px;
    font-weight: bold;
    padding-bottom: 5px;
    padding-top: 5px;
}
.menutable2{
    padding-left: 10px;
    padding-right: 5px;
    border-left: 1px solid lightgray;
    color: #333333;
}
.mainleftpic{
    float: left;
    border: 0 solid blue;
    padding-right: 20px;
}
.topLeftPic{
    width:190px;
    height: 150px;
    margin-top: 10px;
    margin-bottom: 10px;

}
.topLeftPic:hover{
    opacity: 0.6;
    transition:opacity 0.2s linear;
}
.menuRight{
    float: left;
    margin-top: 10px;
    width: 180px;
    height: 470px;
    background-color: white;
}
.menuRightTop{
    text-align: center;
    border: 0 solid black;
    padding-bottom: 30px;
}
.menuRightTop p{
    margin-top: 10px;
    color: dimgray;
}
.menuRightTop img{
    width: 55px;
    border-radius: 50px 50px 50px 50px;
    box-shadow: 0 0 20px grey;
}
.location{
    margin-right: 110px;
    width: 60px;
    text-align: center;
}
.location:hover{
    background-color: white;
}
.locationMenu table{
    margin: 0 auto;
}
.locationMenu td{
    margin-top: 5px;
    height: 10px;
    width: 60px;
}
.locationMenu td:hover{
    background-color: red;
    color: white;
    transition:background-color 0.3s linear;
}
.menuRightButton{
    width: 73px;height:28px;
    line-height:28px;
    border-radius: 20px 20px 20px 20px;
    border: 0;
    font-size: 13px;
}
.menuRightButton:hover{
    background-color: red;
    color: white;
}
.mrBtn1{
    background-color: white;
    color: red;
    box-shadow: 10px 5px 20px lightgray;
}
.mrBtn2{
    background-color: dimgray;
    color:lightgray;
    box-shadow: 10px 5px 20px lightgray;
}
.menuRighta1{
    margin-right: 10px;
    font-size: 13px;
    margin-left: 10px;
    color: black;
}
.menuRighta2{
    margin-left: 10px;
    font-size: 13px;
    color: black;
}

.menuRighta1:hover,.menuRighta2:hover{
    color:black ;
    border-bottom: 2px solid red;
}
.menuRighta3:hover{
    color: red;
    text-decoration: none;
}
.cuxiao{
    display: block;
    margin-top: 10px;
    font-size: 13px;
    margin-left: 10px;
}
.gonggao{
    display: none;
    margin-top: 10px;
    font-size: 13px;
    margin-left: 10px;
}
.cuxiao p,.gonggao p{
    height: 13px;
}
.cuxiao a,.gonggao a{
    color: dimgray;
}
.cuxiao a:hover,.gonggao a:hover{
    color: red;
}
.menuRightMedium{
    border: 0 solid red;
    margin-bottom:20px;
}
.menuRightMedium a{
    text-decoration: none;
}
.menuRighta3{
    float: left;
    width: 25%;
    text-align: center;
    color: gray;
    font-size: 12px;
}
.menuRighta3:hover{
    border-bottom: 2px solid red;
}
.menuMain{
    margin-top: 10px;
}
.menuRightBottom{
    border:0 solid black;
}
.ChongZhiButton{
    background-color: red;
    color: white;
    border-radius:20px 20px 20px 20px;
    border: 1px solid red;
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
}
.huafei{
    padding-left: 8px;
    padding-right: 8px;
    display: block;
    font-size: 12px;
}
.huafei table{
    margin: 10px auto;
}
.huafei tr{
    height: 26px;
}
.jipiao{
    display: none;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 12px;
}
.jipiao table{
    margin: 10px auto;
}
.jipiao tr{
    height: 26px;
}
.hotel{
    display: none;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 12px;
}
.hotel table{
    margin: 10px auto;
}
.hotel tr{
    height: 26px;
}
.game{
    display: none;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 12px;
}
.game table{
    margin: 16px auto;
}
.game tr{
    height: 32px;
}
.spanTitletxt{
    font-size: 14px;
    color: gray;
    margin-left: 6px;
    font-weight: 500;
}
.firstList{
    border: 0 solid black;
    height: 280px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}
.firstListLeft{
    float: left;
    border: 1px solid red;
    width: 190px;
    height: 280px;
    background-color: rgba(232,54,50,1);
    text-align: center;
}
.goodsPic1{
    display: block;
    margin: 0 auto;
}
.goodsPic2{
    display: none;
    margin: 0 auto;
}
.goods1{
    display: block;
    float: left;
    margin: 5px;
    width:10px;height:10px;
    background-color: red;
    border-radius:5px;
    border: 0 solid darkgray;
    box-shadow: 0 0 5px red;
}
.goods2{
    display: block;
    float: left;
    margin: 5px;
    width:10px;height:10px;
    background-color: white;
    border-radius:5px;
    border: 2px solid darkgray;
}
.goodsListMain{
    width: 805px;
    height: 280px;
    float: left;
    margin-left:10px;
}
.goodsList1{
    border: 0 solid red;
    list-style: none;
    float:left;
    display: block;
}
.goodsList2{
    border: 0 solid red;
    list-style: none;
    float:left;
    display: none;
}
.goodsList1 li,.goodsList2 li{
    border: 1px solid #F0F3EF;
    width: 200px;
    height: 270px;
    float:left;
    text-align: center;
}
.goodsList1 a,.goodsList2 a{
    text-decoration: none;
}
.goodsList1 p,.goodsList2 p{
    margin-top: 15px;
    margin-bottom: 15px;
    color: gray;
}
.goodsList1 p:hover,.goodsList2 p:hover{
    color: red;
}
.goodsList1 img,.goodsList2 img{
    border: 0 solid red;
    margin-top: 30px;
}
.goodsList1 img:hover,.goodsList2 img:hover{
    opacity: 0.6;
    transition:opacity 0.2s linear;
}
.goodsList1 table,.goodsList2 table{
    margin: 0 auto;
    height: 20px;
    line-height: 20px;
}

.goodsListTable1{
    width: 80px;
    background-color: red;
    color: white;
    border: 1px solid red;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 1px;
}
.goodsListTable2{
    width: 80px;
    background-color: white;
    color: gray;
    border: 1px solid red;
    font-size: 13px;
    text-decoration: line-through;
}
.goodsListLeft{
    display: block;
    float: left;
    margin: 5px;
    width:10px;height:10px;
    background-color: red;
    border-radius:5px;
    border: 0 solid darkgray;
    box-shadow: 0 0 5px red;
}
.goodsListRight{
    display: block;
    float: left;
    margin: 5px;
    width:10px;height:10px;
    background-color: white;
    border-radius:5px;
    border: 2px solid darkgray;
}
.goodsListSpot{
    text-align: center;
    float: left;
    width: 100%;
    margin-top: -30px;
    height: 30px;
    overflow: hidden;
}
.SecondLeftContain{
    width: 390px;
    height: 450px;
    float: left;
    margin-left: 14px;
    background-color: white;
}
.SecondLeftList{
    width: 20%;
    height:35px;
    line-height:35px;
    float:left;
    color: dimgray;
    font-size: 12px;
}
.SecondLeftList:hover{
    color: red;
}
.SecondLeftMenu{
    height: 35px;
    width: 100%;
    border: 0 solid green;
    text-align: center;
    background-color: rgba(247,247,247,1);
}
.SecondLeftMenu a{
    text-decoration: none;
    color: dimgray;
}
.SecondLeftMenu a:hover{
    color: red;
}
.SecondLeft{
    border: 0 solid red;
    width: 390px;
    height: 450px;
    float: left;
    background-color: white;
}
.SecondLeftTop{
    border: 0 solid blue;
    width: 100%;
    height: 60px;
    line-height: 60px;
    font-size: 23px;
    background-color: white;
    padding-left: 20px;
    font-family: '微软雅黑 Light', sans-serif;
    font-weight: 500;
    color: black;
}
.SecondLeftTop a{
     text-decoration: none;
    color: black;
 }
.SecondLeftMain{
    height: 310px;
    width: 100%;
    border: 0 solid black;
    background-color: white;
    overflow: hidden;
}
.SecondLeftListImg{
    float:left;
    line-height: 100px;
    padding-left: 20px;
    padding-right: 15px;
}
.SecondLeftListNum1{
    color: rgba(231,66,64,1);
    font-size: 40px;
    line-height: 100px;
    float:left;
    font-weight: 700;
    padding-right: 10px;
}
.SecondLeftListNum2{
    color: rgba(237,113,61,1);
    font-size: 40px;
    line-height: 100px;
    float:left;
    font-weight: 700;
    padding-right: 10px;
}
.SecondLeftListNum3{
    color: rgba(254,177,133,1);
    font-size: 40px;
    line-height: 100px;
    float:left;
    font-weight: 700;
    padding-right: 10px;
}
.SecondLeftListTxt{
    font-size: 12px;
    float:left;
    width: 220px;
    margin-top: 30px;
}
.SecondLeftListMain{
    width:100%;
    height: 100px;
}
.SecondLeftListA{
    color: dimgray;
}
.SecondLeftListA:hover{
    color: red;
    transition:color 0.2s linear;
}
.SecondLeftListMain img:hover{
    opacity: 0.6;
    transition:opacity 0.2s linear;
}
.SecondCenter1Txt{
    width: 100%;
    text-align: center;
}
.SecondCenter1 img:hover{
    opacity: 0.7;
    transition:opacity 0.2s linear;
}
.SecondCenter1Txt h4{
    font-weight:bold;
}
.SecondCenter1Txt p{
    color: gray;
    padding-top: 8px;
}
.SecondRightContain{
    width: 390px;
    height: 450px;
    float: right;
}
.SecondRightMain{
    height: 390px;
    width: 100%;
    background-color: white;
}
.SecondRightList1{
    width: 90%;
    height: 120px;
    margin: 0 auto;
    background-color: rgba(246,246,246,1);
    border-radius: 8px 8px 8px 8px;

}
.SecondRightList2{
    width: 90%;
    height: 120px;
    margin: 0 auto;
    background-color: rgba(238,239,237,1);
    border-radius: 8px 8px 8px 8px;
}
.DigitalMain{
    border: 0 solid blue;
    width: 100%;
    float: left;
}
.DigitalMain img:hover{
    opacity: 0.8;
    transition: opacity 0.3s;
}
.DigitalMainHead{
    width:100%;
    border: 0 solid black;
    height: 90px;
    float:left;
}
.DigitalMainHead>div{
    margin: 0 auto;
    width: 282px;
    height: 90px;
    line-height: 80px;
}
.DigitalMainHeadtxt{
    float: left;
    height: 90px;
    font-size: 25px;
    font-weight: 500;
}
.DigitalMainHeadHr{
    float: left;
    height: 90px;
    padding: 20px;
}
.DigitalMainHeadHr>hr{
    width: 45px;
    border:1px solid black;
}
.DigitalMainContent{
    width: 100%;
    float: left;
}
.DigitalMainContent1{
    border: 0 solid red;
    width: 390px;
    height: 450px;
    float: left;
    background-color: white;
    margin-right: 6px;
}
.DigitalMainContent1 table{
    margin: 20px auto;
    width: 350px;
    text-align: center;
}
.DigitalMainContent1 table td{
    border: 1px solid lightgray;
}
.DigitalMainContent1Center{
    height: 390px;
    width: 100%;
    text-align: center;
}
.DigitalMainContentImg{
    display: inline;
    padding: 5px;
}
.DigitalMainContent2{
    width: 400px;
    height: 450px;
    float: left;
    margin-left: 6px;
    margin-right: 6px;
    background-color: white;
}
.DigitalMainContent2 span{
    font-size: 14px;
    color: gray;
    margin-left: 6px;
}
.DigitalMainContent3{
     width: 380px;
    height: 450px;
    float: left;
    margin-left: 6px;
 }
.DigitalMainContent3Border{
    border: 5px solid black;
    width: 340px;
    height: 420px;
    margin-left: 40px;
    margin-top: 30px;
}
.DigitalMainContent4{
    width: 380px;
    height: 450px;
    float: left;
    margin-right: 6px;
}
.DigitalMainContent4Border{
    border: 5px solid black;
    width: 340px;
    height: 420px;
    margin-top: 30px;
}
.DigitalMainContent5{
    border: 0 solid red;
    width: 400px;
    height: 450px;
    float: left;
    margin-left: 14px;
}
.DigitalMainContent6{
    width: 380px;
    height: 450px;
    float: left;
    margin-left: 12px;
    background-color: white;
}
.DigitalMainContent6 span{
    font-size: 14px;
    color: gray;
    margin-left: 6px;
}
.JiaJuCenterPic{
    margin-top: 5px;
}
.JiaJuCenterPic img{
    margin: 3px;
}
.JiajulMainContent1{
    width: 390px;
    height: 450px;
    float: left;
    background-color: white;
    margin-left: 13px;
}
.JiaJuLeftPic{
    width: 100%;
    overflow: hidden;
    text-align: center;
    padding-top: 25px;
}
.JiaJuLeftPic img{
    margin-left: 10px;
    margin-right:10px;
}
.JiaJuRightPic{
    width: 395px;
    height: 450px;
    float: right;
}
.JiaJuRightPicBorder{
    border: 5px solid black;
    width: 370px;
    height: 420px;
    margin-left: 25px;
    margin-top: 30px;
}
.JiaJuCenterPic2{
    width: 390px;
    height: 450px;
    float: left;
    margin-left: 12px;
}
.JiaJuCenterPic2 a{
    text-decoration: none;
}
.JiaJuCenterPic2>div{
    float: left;
    width: 190px;
    height: 220px;
    background-color: white;
    text-align: center;
}
.JiaJuCenterPic2 img{
    padding: 20px;
}
.JiaJuCenterPic2 p{
    font-size: 16px;
    color: black;
}
.JiaJuCenterPic2 p:hover{
    color: red;
    transition: color 0.3s;
}
.TeseList{
    width: 100%;
    height: 330px;
    float: left;
}
.TeseUl1{
    display: block;
    list-style: none;
    float: left;
    width: 100%;
    text-align: center;
}
.TeseUl1 li,.TeseUl2 li,.TeseUl3 li{
    float: left;
    width: 390px;
    margin: 4px;
    background-color: white;
}
.TeseUl1 li>img{
    margin-bottom: 20px;
}
.TeseUl2 li>img{
    margin-bottom: 20px;
}
.TeseUl3 li>img{
    margin-bottom: 20px;
}
.TeseUl2{
    display: none;
    list-style: none;
    float: left;
    width: 100%;
    text-align: center;
}
.TeseUl3{
    display: none;
    list-style: none;
    float: left;
    width: 100%;
    text-align: center;
}

.TestTxtTop{
    width: 100%;
    height: 60px;
    line-height: 60px;
    font-size: 23px;
    background-color: white;
    padding-left: 20px;
    font-family: '微软雅黑 Light', sans-serif;
    font-weight: 500;
    color: black;
    text-align: left;
    margin-bottom: 10px;
}
.TestTxtTop span{
    font-size: 14px;
    color: gray;
    margin-left: 6px;
    font-weight: 500;
}
.TestTxtTop a{
    text-decoration: none;
    color: black;
}
.Tese11{
    display: block;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    width:10px;
    height:10px;
    margin-top: 10px;
    background-color: red;
    border-radius:5px;
    border: 0 solid darkgray;
    box-shadow: 0 0 5px red;
}
.Tese22{
    display: block;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    width:10px;
    height:10px;
    margin-top: 10px;
    background-color: white;
    border-radius:5px;
    border: 2px solid darkgray;
}
.Tese33{
    display: block;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    width:10px;
    height:10px;
    margin-top: 10px;
    background-color: white;
    border-radius:5px;
    border: 2px solid darkgray;
}
.TeseChange{
    text-align: center;
    float: left;
    width: 100%;
    height: 30px;
    margin-top: 12px;
}
.TeseChange>div{
    float: left;
    position: relative;
    left: 50%;
    margin-left: -28px;
}
.footMain{
    height: auto;
    overflow: hidden;
    background-color: #E3E4E5;
    width: 100%;
    padding-bottom: 20px;
}
.footMain a{
    text-decoration: none;
    color: gray;
}
.footMain a:hover{
    color: red;
}
.footFirst{
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    border-bottom: 1px solid gray;
}
.footFirst>div{
    width: 25%;
    height: 100px;
    line-height: 100px;
    float: left;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: black;
}
.footSecond{
    width: 1200px;
    height: 220px;
    margin: 0 auto;
    border-bottom: 1px solid gray;
}
.footSecond>div{
    width: 200px;
    height: 200px;
    float: left;
}
.footSecond ul{
    list-style: none;
    top:50%;
    position: relative;
    margin-top: -80px;
    color: gray;
    font-size: 13px;
    padding-bottom: 5px;
}
.footSecond ul li{
    margin-top: 5px;
    font-size: 12px;
}
.footThrid{
    padding-top: 20px;
    width: 1200px;
    height: auto;
    margin: 0 auto;
}
.footThrid>p{
    width: 100%;
    text-align: center;
    font-size: 12px;
}
.footTxt1{
    width: 100%;
    height: 60px;
    line-height: 80px;
    text-align: center;
    font-weight: bold;
    color: gray;
}
.footTxt2{
    padding-left: 15px;
    padding-right: 15px;
    color: gray;
    font-size: 12px;
}
.footTxt3{
    text-align: right;
    padding-right: 18px;
    width: 100%;
    font-size: 12px;
}
.pipe{
    padding: 5px;
}
.info{
    font-size: 12px;
    text-align: center;
}